<div class="container">
  <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col col-md-6 mb-3">
        <div class="card">
          <%=image_tag image_select(@busker_profile), class:"thumbnail card-img top"%>
          <div class="card-body">
            <h2 class="text-center pb-3">
              <%= @busker_profile.name %>
            </h2>
            <p>
              <strong>Bio:</strong>
              <%= @busker_profile.bio %>
            </p>
            <div class ='d-flex justify-content-around'>   
              <% if current_user&.id == @busker_profile.user_id %>
                <%= link_to 'Edit', edit_busker_profile_path(@busker_profile), class: "pt-4 mr-3" %> 
                <span class="pt-4"> | </span>
                <%= link_to 'Delete', @busker_profile, method: :delete, data: {confirm: "Are you sure?"} , class: "btn pt-4 mr-3" %>
                <span class="pt-4"> | </span>
              <% end %>
              <%= link_to 'Back', busker_profiles_path, class: "btn pt-4" %>
            </div>
            <div class="text-center">
              <% if current_user&.id != @busker_profile.user_id %>
                <%= link_to 'Create a new review', create_new_review_path(@busker_profile.id), class:"btn btn-info mb-3"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-6 mb-3">
        <h4 class="text-center">Reviews</h4>
        <% @reviews.each do |review| %>
          <div class="card mb-3">
            <div class="card-body">
              <figure>
                  <blockquote class="blockquote">
                      <p><%= review.comment%></p>
                      <p><%= review.rating%> stars</p>
                  </blockquote>
                  <figcaption class="blockquote-footer"><%= review.user.username%></figcaption>
              </figure>
            </div>
          </div>
        <% end %>
      </div>
  </div>
 
</div>
