<div class="d-flex flex-column align-items-center">
  <h1>All the events!</h1>
  <div class="d-flex flex-wrap justify-content-around">
    <%@events.each do |event| %>
       <div class="col-md-4">
        <div class="card mb-3" style="width: 18rem;">
          <%= image_tag image_select(event), class:"card-img-top img-size" %>
          <div class="card-body">
            <h5 class="card-title"><%= event.title%></h5>
            <p class="card-text"><%= event.description%></p>
            <p class="card-text">$<%= (event.price / 100) %>
            <%= link_to "Show", event_path(event.id), class:"btn btn-info btn-right" %>
            <%# <%= link_to 'Edit', edit_event_path(event), class:"btn" %>
            <%# <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn"%> 
            </p>
          </div>
        </div>
      </div> 
    <%end%>
  </div>
</div>