
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="d-flex flex-column align-items-center">
    <h1 class="py-5">Events</h1>
    <div class="py-4">
      <h4>Search</h4>
      <%=form_with url: events_path, method: :get, local: true do |form|%>
        <%= form.label :query, "Search by:"%>
        <%=form.text_field :query%>
        <%=form.select :option, ["title", "description"]%>
        <%=form.submit "Search"%>
      <%end%>
    </div>
    <div>
      <%= link_to 'New Event', new_event_path, class:"btn btn-info mb-3"%>
    </div>
  </div>
  <div class="row justify-content-center">
    <%@events.each do |event| %>
        <div class="col col-md-4">
        <div class="card mb-3">
          <%= image_tag image_select(event), class:"card-img-top img-size" %>
          <div class="card-body">
            <h5 class="card-title"><%= event.title%></h5>
            <p class="card-text"><%= event.description%></p>
            <p class="card-text"><%= event.date%></p>
            <p class="card-text">$<%= (event.price / 100.00) %>
            <%= link_to "Show", event_path(event.id), class:"btn btn-info btn-right" %>
            <%# <%= link_to 'Edit', edit_event_path(event), class:"btn" %>
            <%# <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn"%> 
            </p>
          </div>
        </div>
      </div> 
    <%end%>
  </div>
</div>
