<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="d-flex flex-column align-items-center">
    <h1 class="py-5">Reviews</h1>
    <div class="text-center">                              
      <%= link_to 'Create a new review', new_review_path, class:"btn btn-info mb-3"%>
    </div>
    <div class="mb-3">
      <h4>Search</h4>
      <%=form_with url: reviews_path, method: :get, local: true do |form|%>
      <%= form.label :query, "Search by name" %>
      <%= form.text_field :query %>
      <%= form.submit "Search" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
      <%@reviews.each do |review| %>
        <div class="col col-md-4">
           <div class="card mb-3">
              <h5 class="card-title"><%= review.name%></h5>
              <p class="card-text">By <%= review.user%></p>
              <p class="card-text"><%= review.rating%></p>
              <%= link_to "Show", review_path(review.id), class:"btn btn-info btn-right" %>
            </div>
          </div>
          
        </div> 
      <%end%>
    </div>

</div>



